<mat-toolbar id="toolbar"> </mat-toolbar>
<br />
<div>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Criar Nova Senha</legend>
    <div class="form-row" [formGroup]="formulario" id="form">
      <div class="form-group col-md-3">
        <mat-form-field appearance="outline">
          <mat-label> Nova Senha</mat-label>
          <input matInput id="password"
            [type]="mostrarSenha.checked ? 'text' : 'password'"
            formControlName="password"
          />
        </mat-form-field>
         <div *ngIf="formulario.get('password')?.errors?.['required'] && formulario.get('password')?.touched" id="validaNovaSenha">
            Senha é Obrigatório
         </div>
      </div>
      <div class="form-group col-md-3">
        <mat-form-field appearance="outline">
          <mat-label> Nova Senha</mat-label>
          <input matInput id="confirmarsenha"
            [type]="mostrarSenha.checked ? 'text' : 'password'"
            formControlName="confirmarsenha"
          />
        </mat-form-field>
         <div *ngIf="formulario.get('confirmarsenha')?.errors?.['required'] && formulario.get('confirmarsenha')?.touched" id="validaNovaSenha">
            Senha é Obrigatório
         </div>
         <div *ngIf="formulario.get('password')?.value !== formulario.get('confirmarsenha')?.value" id="valordif"  >
          Os valores informado nos campos estão divergentes!
       </div>
      </div>
    </div>

    <div>
      <button id="buttonSubmit" class="btn btn-success" (click)="onSubmit()"[disabled]="!formulario.valid || formulario.get('password')?.value !== formulario.get('confirmarsenha')?.value">
        Submit
      </button>
      <button
      #mostraSenha

        id="buttonReturn"
        class="btn btn-primary"
        (click)="voltarParaLogin()"
      >
        Return
      </button>
      <input #mostrarSenha
        class="form-check-input"
        type="checkbox"

      />
      <label class="form-check-label" for="flexCheckIndeterminate">
        Mostrar Senha
      </label>
    </div>
  </fieldset>
</div>
