
#host{

}

#toolbar{
  background-color:#ebdfdf;
  width: 100%;

}
#table{
width: 100%;
margin: 10px 10px 10px 10px;
position: relative;



}

#button{
  border-radius: 0.5rem;
  margin: 0 2px 0 5px;
  margin-top: 2px;

  font-size: small;


}
#buttonOlho{
  position: fixed;
  border-radius: 0.5rem;
  margin: 0 10px 0 5px;
  margin-top: 3px;
  margin-right: 1px;
  height: 35px


}
#icon{
 margin: 0 0 2px 2px ;
}
.rodape{
  position: fixed;
  margin-top: 2%;
  width: 100%;
  text-align: center;

  background-color: red;
}
input{
  border: none;
  background-color: white;

}

